body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/141/288/original/colourfulsky.jpg?1724878172");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  margin: 0;
  height: 100vh;
  font-family: "Dosis", sans-serif;
}

header {
  padding: 0 0 30px 0;
  border-bottom: 1px solid #f9f7fe;
}

a {
  color: #885df1;
}

.weather-app {
  background-color: rgba(207, 207, 207, 0.5);
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.1);
  border-radius: 16px;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
}

.search-form-input {
  width: 80%;
  background-color: #f9f7fe;
  border-radius: 7px;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
}

.search-form-button {
  padding: 15px 30px;
  color: #ffffff;
  background: #885df1;
  border: none;
  border-radius: 8px;
  margin-left: 6px;
  font-size: 16px;
}

.search-form-button:hover {
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(192, 192, 192, 0.4),
    0 17px 50px 0 rgba(220, 220, 220, 0.19);
}

main {
  padding: 30px 0;
}

.weather-data {
  justify-content: space-between;
  display: flex;
}

.weather-city {
  margin: 0;
  font-size: 43px;
  line-height: 48px;
}

.weather-details {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #ffffff;
}

.weather-details strong {
  color: #aa336a;
}

.weather-temperature-container {
  display: flex;
}

.weather-icon {
  font-size: 45px;
}

.weather-temperature {
  font-weight: bold;
  font-size: 88px;
  margin-left: 10px;
}

.weather-unit {
  margin-top: 6px;
  font-size: 28px;
  font-weight: 300;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #aa336a;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 17px;
  margin-top: 20px;
  color: #000000;
}
