body {
  background: #4568dc;
  background: -webkit-linear-gradient(to right, #b06ab3, #4568dc);
  background: linear-gradient(to right, #b06ab3, #4568dc);
  font-family: "Dosis", sans-serif;
}

header {
  padding: 0 0 30px 0;
  border-bottom: 1px solid #f9f7fe;
}

a {
  color: #885df1;
}

.weather-app {
  background: #ffffff;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
}

.search-form-input {
  width: 80%;
  background-color: #f9f7fe;
  border-radius: 7px;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  padding: 15px 20px;
  font-size: 16px;
}

.search-form-button {
  padding: 15px 30px;
  color: #ffffff;
  background: #885df1;
  border: none;
  border-radius: 8px;
  margin-left: 6px;
  font-size: 16px;
  line-height: 1;
}

main {
  padding: 30px 0;
}

.weather-data {
  justify-content: space-between;
  display: flex;
}

.weather-city {
  margin: 0;
  font-size: 43px;
  line-height: 48px;
}

.weather-details {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: rgba(39, 33, 66, 0.4);
}

.weather-details strong {
  color: #f65282;
}

.weather-temperature-container {
  display: flex;
}

.weather-icon {
  width: 88px;
  height: 88px;
}

.weather-temperature {
  font-weight: bold;
  font-size: 88px;
  line-height: 88px;
}

.weather-unit {
  margin-top: 6px;
  font-size: 28px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #f65282;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 17px;
  color: #000000;
}
